@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');


html,body{
  font-family: 'Poppins', sans-serif;
  background-color: #efefef;
  scroll-behavior: smooth;
}

[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top  {
 -webkit-backface-visibility: hidden;
}

.navbar {
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  
}
.navbar-default {
  background-color: #efefef;
  background-image: none;
  background-repeat: no-repeat;
}
#heading{
  color: red;
}
#heading1{
  background: linear-gradient(to right, #f6475c 0%, #ff9327 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#line{
  border-top: 2px solid #efefef;
  width: 80%;
  text-align: left;
  clear:both;
  display:block;
}
.button {
  background: linear-gradient(to left, #f6475c 0%, #ff9327 100%);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 18px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(to right, #f6475c 0%, #ff9327 100%);
  transition-duration: 200ms;
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}
#benifits{
  padding-bottom: 50px;
  /* background-image: url("../img/dotted.png");
  background-size:100% 100%;
  height: auto; */
}
#benifits h1{
color:rgb(94, 94, 94);
padding-top: 50px; 
font-family: 'Poppins', sans-serif;
}
#beach_riding{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  background-color:#efefef34;
  /* background-image: url("../img/dotted_inverse.png");
  background-size:100% 100%;
  background-repeat: no-repeat; */
  padding: 0;
}
@media (max-width: 600px){
  #beach_riding{
    background-image: none;
  }
}
#beach_riding h2{
  color:rgb(94, 94, 94);
}
#beach_riding #beach_bg img{
  width: 100%;
}
#features{
  padding-top: 80px;
  padding-bottom: 30px;
  /* background-image: url("../img/dotted.png");
  background-size:100% 100%;
  height: auto; */
}

#features h2{
  color:rgb(94, 94, 94);
  font-family: 'Poppins', sans-serif;
 
}
#features .card{
border-radius: 20px;
background: linear-gradient(to right, #ffffff 0%, #d4d4d431 100%);
height: auto;
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  #features .card{
    height: 150px;
    }
} */

#line2{
  width: 200px;
  border: 2px solid #f6475c;
  border-radius: 5px;
}
#line3{
  width: 200px;
  border: 2px solid #f6475c;
  border-radius: 5px;
  text-align: left;
}
.btn-floating{
  color: red;
  font-size: 30px;

}
.btn-floating:hover{
  color: orange;
  font-size: 30px;
}
#packages{
  background-color:#efefef34;
  /* background-image: url("../img/dotted_inverse.png");
  background-size:100% 100%;
  height: auto; */
}
#line3{
  width: 100px;
  border: 2px solid #f6475c;
  border-radius: 5px;
}

#packages{
padding-top: 50px;
padding-bottom: 50px;
}
#packages .card p{
  color: grey;
}

#packages h2{
  color:rgb(94, 94, 94);
  font-family: 'Poppins', sans-serif;
}

#contact_us{
 background: grey;
 font-family: 'Poppins', sans-serif;
}
#heading2{
  color: red;
  height: 40px;
  width:40px;
}
#contact_us p{
color: white;
}
#map{
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 220px;
}
 @media only screen and (max-width: 600px) {
  .button {
    padding: 14px 32px;
  }
 }
#founders{
  padding-bottom: 50px;
  /* background-image: url("../img/dotted.png");
  background-size:100% 100%;
  height: auto; */
  
}
 #founders h2{
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: #ff9327;
 }
 #founders .card{
   border: none;
   background-color: rgba(207, 207, 207, 0.9);
   border-radius: 15px;
 }
 #founders .card p{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  
}
 #founders .card img{
   height: 100%;
   
 }
 #founders #signature1{
   font-size: 35px;
  font-family: 'Cedarville Cursive', cursive;
 }

 #founders #signature2{
  font-size: 30px;
  font-family: 'Calligraffitti', cursive;
}
#founders #signature3{
  font-size: 35px;
  font-family: 'Sacramento', cursive;
}
#gallery{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #efefef33;
  /* background-image: url("../img/dotted_inverse.png");
  background-size:100% 100%;
  height: auto; */
  width: 100%;
}
#gallery h2{
  color:rgb(94, 94, 94);
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box
}
body {
  font-family: Verdana, sans-serif; 
  margin:0
}
.mySlides {
  display: none
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(226, 226, 226, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f6475c;;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
#gallery .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#gallery .active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#gallery h3{
  padding-bottom: 30px;
}
#gallery h3:hover{
  cursor: pointer;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}